/*!*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[13].use[5]!./app/login/styles.scss ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@charset "UTF-8";
.banner-container {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.title {
  padding: 2rem;
}

.banner-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.login {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 500px;
  width: 100%;
}

.form-container {
  position: relative; /* Adicionamos position: relative para garantir que o conteúdo fique dentro do contêiner */
  margin-top: 20px;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 100%;
}

.title {
  margin-bottom: 20px;
}

.form-login {
  display: flex;
  flex-direction: column;
}

.form-login > div {
  margin-bottom: 15px;
}

.form-login small {
  float: right;
  font-size: 12px;
}

.form-login a {
  display: block;
  margin-top: 10px;
  font-size: 14px;
}

.btn-login {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  width: 250px;
  margin: 0 auto;
}

.btn-login:hover {
  background-color: #0056b3;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  color: inherit;
  padding: 15px;
  margin: 10px;
  border-radius: 10px;
  width: 350px;
}
