/*!**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[13].use[5]!./app/webapp/global.scss ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@charset "UTF-8";
.container {
  overflow-x: hidden; /* Remove o scroll horizontal */
}

.cards-container {
  display: flex;
  gap: 1rem; /* Espaçamento entre os cards */
  overflow-x: auto; /* Habilita o scroll horizontal */
  padding-bottom: 1rem; /* Adiciona padding inferior para o scroll */
}

.card-container {
  flex: 0 0 auto;
  width: 66.6666666667%; /* Define a largura dos cards para exibir 1.5 cards no mobile */
  position: relative;
  overflow: hidden;
  height: 550px; /* Ajuste conforme necessário */
  border-radius: 30px;
}

@media (max-width: 768px) {
  .card-container {
    height: auto; /* Ajusta a altura para a versão mobile */
    width: 66.6666666667vw; /* Define a largura dos cards para exibir 1.5 cards no mobile */
  }
}
.card-container .relative {
  height: 450px; /* Ajustando a altura do card */
}

.card-container h2 {
  font-size: 1.25rem; /* Ajustando o tamanho da fonte do título */
  font-weight: bold;
}

.card-container p {
  font-size: 1rem; /* Ajustando o tamanho da fonte do endereço */
}

.card-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

p.title {
  padding: 5rem 3rem 0rem 3rem;
  font-size: 30px;
  font-weight: 500;
}

input#data {
  border-radius: 30px;
  background: #f3f3f3;
  height: 50px;
}

svg.text-blue-600.text-2xl.absolute.right-2 {
  background: #08738a;
  color: #fff;
  width: 35px;
  height: 35px;
  border-radius: 40px;
  font-size: 10px;
  padding: 6px;
}

.card-container:hover .card-button {
  opacity: 1;
}

.text-red-500 {
  --tw-text-opacity: 1;
  color: #a41414;
}

.hideMenuNav {
  display: none;
}

header.bg-transparent {
  background: transparent;
}
header.bg-blue-800 {
  background: rgb(53, 47, 173);
}
header .mobile-only {
  display: block;
}
@media (min-width: 768px) {
  header .mobile-only {
    display: none;
  }
}

#home-container.reduce-scale {
  transform: scale(0.7) translateX(75%);
  transition: transform 0.3s ease;
  background: #fff;
  border-radius: 30px;
  display: block;
  z-index: 999;
  position: sticky;
  box-shadow: -63px 63px 19px rgba(255, 255, 255, 0.26);
}
#home-container.reduce-scale .barra-header {
  background: #08738a !important;
}

.HAMBURGER-ICON {
  cursor: pointer;
}
/*!****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[13].use[5]!./app/webapp/components/header/styles.scss ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.hideMenuNav {
  display: none;
}

.showMenuNav {
  display: block;
  position: relative;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: #08738a;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

ul.MENU-LINK-MOBILE-OPEN.flex.flex-col.items-center.justify-between {
  padding: 3rem;
  color: #fff;
  align-items: baseline;
}

header.bg-transparent {
  background: transparent;
}
header.bg-blue-800 {
  background: rgb(53, 47, 173);
}
header .mobile-only {
  display: block;
}
@media (min-width: 768px) {
  header .mobile-only {
    display: none;
  }
}

#home-container {
  transition: transform 0.3s ease;
}
#home-container.reduce-scale {
  transform: scale(0.7) translateX(75%);
  background: #fff;
  border-radius: 30px;
  display: block;
  z-index: 999;
  position: sticky;
  box-shadow: -63px 63px 19px rgba(255, 255, 255, 0.26);
}
#home-container.reduce-scale .px-4.py-2.flex.justify-between.items-center.bg-white {
  background: #08738a;
}

.barra-header {
  transition: transform 0.3s ease;
}
.barra-header.reduce-scale {
  background: #08738a;
}

.HAMBURGER-ICON {
  cursor: pointer;
}
/*!***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[13].use[5]!./app/webapp/components/footer/style.scss ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
/* style.scss */
.mobile-footer {
  display: none;
}

@media (max-width: 768px) {
  .mobile-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    bottom: 0;
    width: 100%;
    background: #f2f2f2;
    padding: 1rem 0;
    box-shadow: 0 -1px 6px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
  }
  .footer-icons {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
  .footer-icon {
    text-align: center;
    color: #767676;
  }
  .footer-icon .icon {
    width: 24px;
    height: 24px;
  }
}
