footer.bg-neutral-100.text-center.text-neutral-600.dark\:bg-neutral-600.dark\:text-neutral-200.lg\:text-left {
  padding: 3rem;
  background: #f2f2f2;
  color: #767676;
}
a.text-neutral-600.dark\:text-neutral-200 {
  color: #767676;
}
.bg-neutral-200.p-6.text-center.dark\:bg-neutral-700 {
  background: #cfcfcf;
}
