/*!***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[13].use[5]!./app/webapp/components/footer/style.scss ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
/* style.scss */
.mobile-footer {
  display: none;
}

@media (max-width: 768px) {
  .mobile-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    bottom: 0;
    width: 100%;
    background: #f2f2f2;
    padding: 1rem 0;
    box-shadow: 0 -1px 6px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
  }
  .footer-icons {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
  .footer-icon {
    text-align: center;
    color: #767676;
  }
  .footer-icon .icon {
    width: 24px;
    height: 24px;
  }
}
/*!***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./app/webapp/components/headerLike/headerLike.module.scss ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
/* headerLike.module.scss */
.headerLike_headerLike__8K4AK {
  background: transparent;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  z-index: 9;
  width: 100%;
}

.headerLike_backButton__T6Ctz {
  background: #fff;
  border: none;
  cursor: pointer;
  font-size: 24px;
  color: #202020;
  border-radius: 30px;
  padding: 5px;
}

.headerLike_likeButton__G6Rg1 {
  background: #fff;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 24px;
  color: #c50303;
  border-radius: 30px;
  padding: 5px;
}

.headerLike_likeCount__BCMNf {
  margin-left: 8px;
  font-size: 16px;
  font-weight: bold;
  color: darkslategrey;
}
/*!**********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./node_modules/react-multi-carousel/lib/styles.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************/
@font-face{font-family:"revicons";fallback:fallback;src:url(/_next/static/media/revicons.ff59b316.woff) format('woff'),url(/_next/static/media/revicons.b96bdb22.ttf) format('ttf'),url(/_next/static/media/revicons.652e7269.eot) format('ttf')}.react-multi-carousel-list{display:flex;align-items:center;overflow:hidden;position:relative}.react-multi-carousel-track{list-style:none;padding:0;margin:0;display:flex;flex-direction:row;position:relative;transform-style:preserve-3d;backface-visibility:hidden;will-change:transform,transition}.react-multiple-carousel__arrow{position:absolute;outline:0;transition:all .5s;border-radius:35px;z-index:1000;border:0;background:rgba(0,0,0,0.5);min-width:43px;min-height:43px;opacity:1;cursor:pointer}.react-multiple-carousel__arrow:hover{background:rgba(0,0,0,0.8)}.react-multiple-carousel__arrow::before{font-size:20px;color:#fff;display:block;font-family:revicons;text-align:center;z-index:2;position:relative}.react-multiple-carousel__arrow:disabled{cursor:default;background:rgba(0,0,0,0.5)}.react-multiple-carousel__arrow--left{left:calc(4% + 1px)}.react-multiple-carousel__arrow--left::before{content:"\e824"}.react-multiple-carousel__arrow--right{right:calc(4% + 1px)}.react-multiple-carousel__arrow--right::before{content:"\e825"}.react-multi-carousel-dot-list{position:absolute;bottom:0;display:flex;left:0;right:0;justify-content:center;margin:auto;padding:0;margin:0;list-style:none;text-align:center}.react-multi-carousel-dot button{display:inline-block;width:12px;height:12px;border-radius:50%;opacity:1;padding:5px 5px 5px 5px;box-shadow:none;transition:background .5s;border-width:2px;border-style:solid;border-color:grey;padding:0;margin:0;margin-right:6px;outline:0;cursor:pointer}.react-multi-carousel-dot button:hover:active{background:#080808}.react-multi-carousel-dot--active button{background:#080808}.react-multi-carousel-item{transform-style:preserve-3d;backface-visibility:hidden}@media all and (-ms-high-contrast:none),(-ms-high-contrast:active){.react-multi-carousel-item{flex-shrink:0 !important}.react-multi-carousel-track{overflow:visible !important}}[dir='rtl'].react-multi-carousel-list{direction:rtl}.rtl.react-multiple-carousel__arrow--right{right:auto;left:calc(4% + 1px)}.rtl.react-multiple-carousel__arrow--right::before{content:"\e824"}.rtl.react-multiple-carousel__arrow--left{left:auto;right:calc(4% + 1px)}.rtl.react-multiple-carousel__arrow--left::before{content:"\e825"}
/*!************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./app/webapp/pracinha/pracinha.module.scss ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@charset "UTF-8";
.pracinha_bannerContainer__Iz3tV {
  position: fixed;
  width: 100%;
  height: 300px;
  overflow: hidden;
}

.pracinha_bannerImage__snNuK {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1; /* Assegure que não há outros elementos com z-index maior */
}

.pracinha_content__cjEIZ {
  position: relative;
  z-index: 1;
  padding-top: 300px;
}

.pracinha_flexButtonContainer__CtTqr {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}

.pracinha_flexButtonContainerBar__BYO5z {
  display: flex;
  gap: 50px;
  padding: 5px 10px;
}

.pracinha_button__bD7xN {
  background: transparent;
  border: none;
  color: rgb(77, 77, 77);
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  font-size: 16px;
}

.pracinha_icon__7qoTt {
  font-size: 24px;
}

.pracinha_barInfo__zdxLO {
  padding: 20px;
  text-align: center;
  background: #ffffff;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  z-index: 99;
  margin-top: -25px;
  position: relative;
}

.pracinha_infoContainer__XeK4Q {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}

.pracinha_leftColumn__tzgiN,
.pracinha_middleColumn__vHmUJ,
.pracinha_rightColumn__rVHW7 {
  flex: 1;
}

.pracinha_barName__RWVpI {
  font-size: 30px;
  margin: 0;
  font-family: Nunito;
  font-weight: 700;
}

.pracinha_barDetails__8WXPD {
  display: flex;
  align-items: center;
  gap: 10px;
  background: #fff;
}

.pracinha_logoContainer__EmObN {
  display: flex;
  justify-content: center;
}

.pracinha_iconContainer__9yPHL {
  display: flex;
  justify-content: space-around;
}

.pracinha_iconItem__x8pdf {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pracinha_iconTitle__h_jWG {
  margin-top: 5px;
  font-size: 10px;
}

.pracinha_valores__qRmst {
  display: flex;
  gap: 2px;
  padding: 5px 10px;
}

.pracinha_barValores__ku0J1 {
  font-size: 30px;
}

.pracinha_userValores__e6aAu {
  font-size: 12px;
  margin-top: 20px;
  padding-right: 10px;
}

.pracinha_reserveButton__9hcmT {
  background-color: #08738a;
  border: none;
  color: white;
  padding: 20px 40px;
  cursor: pointer;
  border-radius: 40px;
  font-size: 15px;
}

.pracinha_barDescription___8a75 {
  padding: 20px;
  text-align: justify;
  background: #fff;
}

.pracinha_sections__UoOGS {
  padding: 20px;
  background: #fff;
}

.pracinha_section__2CAIu {
  margin-bottom: 20px;
  font-size: 25px;
  font-weight: 600;
  font-family: Nunito;
  color: #2f415f;
}

.pracinha_imageContainer__qIlJt {
  cursor: pointer;
  padding: 5px;
}

.pracinha_image__4Dflh {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.pracinha_mapContainer__IRftD {
  padding: 1rem;
  background: #fff;
}

.pracinha_modal___EeX9 {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 800px;
}

.pracinha_overlay__wu81j {
  background-color: rgba(0, 0, 0, 0.75);
}

.pracinha_expandedImage__i6FMl {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
/*!*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./app/webapp/components/programacao/programacao.module.scss ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.programacao_programacao__86xUc {
  padding: 1rem;
  background: #fff;
}
.programacao_programacao__86xUc .programacao_sectionTitle__Uqi7r {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 24px;
  font-family: Poppins;
}
.programacao_programacao__86xUc .programacao_events___2_nR {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.programacao_programacao__86xUc .programacao_events___2_nR .programacao_eventCard__WtTAO {
  display: flex;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  position: relative;
  overflow: hidden;
}
.programacao_programacao__86xUc .programacao_events___2_nR .programacao_eventCard__WtTAO:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.programacao_programacao__86xUc .programacao_events___2_nR .programacao_eventCard__WtTAO .programacao_dateDotLine__JwV4R {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 10px;
}
.programacao_programacao__86xUc .programacao_events___2_nR .programacao_eventCard__WtTAO .programacao_dateDotLine__JwV4R .programacao_selectButton__Zpixv {
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 9px solid #08738a;
  border-radius: 50%;
  cursor: pointer;
  margin-bottom: 10px;
}
.programacao_programacao__86xUc .programacao_events___2_nR .programacao_eventCard__WtTAO .programacao_dateDotLine__JwV4R .programacao_dotLine__FDEOx {
  width: 2px;
  background-color: #ddd;
  flex-grow: 1;
}
.programacao_programacao__86xUc .programacao_events___2_nR .programacao_eventCard__WtTAO .programacao_dateDotLine__JwV4R .programacao_eventDate__iVwx_ {
  margin: 0;
  font-size: 12px;
  color: #999;
  text-align: center;
  margin-top: 5px;
}
.programacao_programacao__86xUc .programacao_events___2_nR .programacao_eventCard__WtTAO .programacao_eventContent__9vfTP {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.programacao_programacao__86xUc .programacao_events___2_nR .programacao_eventCard__WtTAO .programacao_eventContent__9vfTP .programacao_eventImage__RvAX_ {
  width: 90%;
  height: 170px;
  object-fit: cover;
  border-radius: 5px;
}
.programacao_programacao__86xUc .programacao_events___2_nR .programacao_eventCard__WtTAO .programacao_eventContent__9vfTP .programacao_eventDetails__yPRXM {
  margin-top: 10px;
}
.programacao_programacao__86xUc .programacao_events___2_nR .programacao_eventCard__WtTAO .programacao_eventContent__9vfTP .programacao_eventDetails__yPRXM .programacao_eventTitle__VDo8_ {
  font-size: 16px;
  margin: 0 0 5px;
  font-family: Poppins;
  color: #08738a;
  font-weight: 500;
}
.programacao_programacao__86xUc .programacao_events___2_nR .programacao_eventCard__WtTAO .programacao_eventContent__9vfTP .programacao_eventDetails__yPRXM .programacao_eventCategory__XqMK8 {
  font-size: 14px;
  color: #999;
  margin: 0 0 10px;
}
.programacao_programacao__86xUc .programacao_events___2_nR .programacao_eventCard__WtTAO .programacao_eventContent__9vfTP .programacao_eventDetails__yPRXM .programacao_eventTimeContainer__5A9pM {
  display: flex;
  align-items: center;
}
.programacao_programacao__86xUc .programacao_events___2_nR .programacao_eventCard__WtTAO .programacao_eventContent__9vfTP .programacao_eventDetails__yPRXM .programacao_eventTimeContainer__5A9pM .programacao_icon__GD_3w {
  margin-right: 5px;
  color: #08738a;
}
.programacao_programacao__86xUc .programacao_events___2_nR .programacao_eventCard__WtTAO .programacao_eventContent__9vfTP .programacao_eventDetails__yPRXM .programacao_eventTimeContainer__5A9pM .programacao_eventTime__4OPqj {
  margin: 0;
  font-size: 14px;
}
/*!*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./app/webapp/components/profile/profile.module.scss ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.profile_modal__dqDVd {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 800px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile_overlay__I_ab5 {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.75);
  z-index: 1000;
}

.profile_modalContent__cvtwZ {
  width: 100%;
  padding: 2rem;
  box-sizing: border-box;
}

.profile_header__6uEU1 {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.profile_profilePicContainer__4eh2F {
  position: relative;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  background: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.profile_profilePic__MBqtd {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 16px;
  color: #888;
  position: relative;
}

.profile_profilePicImage__CKTGY {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.profile_profileForm__udYOw {
  width: 100%;
}

.profile_formRow__yiSEu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.profile_formRow__yiSEu input {
  flex: 1;
  min-width: 45%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.profile_formRow__yiSEu input[type=date] {
  min-width: 30%;
}

.profile_updateButton__E7S_s {
  background-color: #008cba;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 18px;
  border-radius: 15px;
  width: 100%;
  max-width: 200px;
  align-self: center;
}

.profile_updateButton__E7S_s:hover {
  background-color: #005bb5;
}
