.hideMenuNav {
  display: none;
}

.showMenuNav {
  display: block;
  position: relative;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: #08738a;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
ul.MENU-LINK-MOBILE-OPEN.flex.flex-col.items-center.justify-between {
  padding: 3rem;
  color: #fff;
  align-items: baseline;
}

header {
  &.bg-transparent {
    background: transparent;
  }

  &.bg-blue-800 {
    background: rgb(173, 173, 173);
  }

  .mobile-only {
    display: block;
  }

  @media (min-width: 768px) {
    .mobile-only {
      display: none;
    }
  }
}

#home-container {
  transition: transform 0.3s ease;

  &.reduce-scale {
    transform: scale(0.7) translateX(75%);
    background: #fff;
    border-radius: 30px;
    display: block;
    z-index: 999;
    position: sticky;
    box-shadow: -63px 63px 19px rgba(255, 255, 255, 0.26);

    .px-4.py-2.flex.justify-between.items-center.bg-white {
      background: #08738a;
    }
  }
}

.barra-header {
  transition: transform 0.3s ease;

  &.reduce-scale {
    background: #08738a;
    padding: 1rem;
    margin-top: -32px;
  }
}

.HAMBURGER-ICON {
  cursor: pointer;
}
