@use 'variables'; // Importando variáveis

@mixin header($height, $padding) {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 1px 1px 5px #000;
    height: $height;
    padding: $padding $padding;
    background-color: variables.$bg-primary-color-blue; // Usando a variável com o namespace
}