$bg-light-gray: #f8f9fa;
$bg-white: #ffffff;
$bg-primary-color-blue: #034b97;
$bg-secondary-color-blue: #0658b0;
$bg-dark-gray: #343a40;
$text-dark-blue: #343a40;
$text-white: #ffffff;
$bg-header: #f1f1f1;
$bg-warning: #d2d2d2;
$bg-danger: #005bb5