
.containerMobile {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
   
  }

  #home-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .bannerContainer {
    position: fixed;
    width: 100%;
    height: 300px; // Ajuste conforme necessário
    overflow: hidden;
  }
  
  .bannerImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; /* Assegure que não há outros elementos com z-index maior */
  }
  
  .content {
    position: relative;
    z-index: 1;
    padding-top: 90px;
  }
  
  .flexButtonContainer {
    position: relative;
  
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .flexButtonContainerBar {
    display: flex;
    gap: 50px;
    padding: 5px 10px;
  }
  
  .button {
    background: transparent;
    border: none;
    color: rgb(77, 77, 77);
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    font-size: 16px;
  }

  .button-new {
    display: flex;
    justify-content: center; 
    padding: 3rem;
    margin: 4rem 0; 
}
  
  .icon {
    font-size: 24px;
  }
  
  .barInfo {
    padding: 20px;
    text-align: center;
    background: #ffffff;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    z-index: 99;
    margin-top: -25px;
    position: relative;
  }
  
  .infoContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
  }
  
  .leftColumn,
  .middleColumn,
  .rightColumn {
    flex: 1;
  }
  
  .barName {
    font-size: 30px;
    margin: 0;
    font-family: Nunito;
    font-weight: 700;
  }
  
  .barDetails {
    display: flex;
    align-items: center;
    gap: 10px;
    background: #fff;
  }
  
  .logoContainer {
    display: flex;
    justify-content: center;
  }
  
  .iconContainer {
    display: flex;
    justify-content: space-around;
  }
  
  .iconItem {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .iconTitle {
    margin-top: 5px;
    font-size: 10px;
  }
  .title {
    text-align: left;
    font-size: 20px;
}
  
  .valores {
    display: flex;
    gap: 2px;
    padding: 5px 10px;
  }
  .barValores {
    font-size: 30px;
  }
  .userValores {
    font-size: 12px;
    margin-top: 20px;
  
    padding-right: 10px;
  }
  
  .reserveButton {
    background-color: #08738a;
    border: none;
    color: white;
    padding: 20px 40px;
    cursor: pointer;
    border-radius: 40px;
    font-size: 15px;
  }
  
  .barDescription {
    padding: 2px;
    text-align: justify;
    background: #fff;
    width: 255px;
    color: #9d9d9d;
  }
  
  .sections {
    padding: 20px;
    background: #fff;
  }
  
  .section {
    margin-bottom: 20px;
    font-size: 25px;
    font-weight: 600;
    font-family: Nunito;
    color: #2f415f;
  }
  
  .imageContainer {
    cursor: pointer;
    padding: 5px;
  }
  
  .image {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  .mapContainer {
    padding: 1rem;
    background: #fff;
  }
  
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 800px;
  }
  
  .overlay {
    background-color: rgba(0, 0, 0, 0.75);
  }
  
  .expandedImage {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  
  .reservationDetails {
    font-size: 30px;
  }


  #home-container {
    flex-grow: 1;
  }
  
  .footerContainer {
    background-color: #f3f4f6;
    padding: 1rem;
    text-align: center;
  }