/*!***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[13].use[5]!./app/webapp/components/footer/style.scss ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
/* style.scss */
.mobile-footer {
  display: none;
}

@media (max-width: 768px) {
  .mobile-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    bottom: 0;
    width: 100%;
    background: #f2f2f2;
    padding: 1rem 0;
    box-shadow: 0 -1px 6px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
  }
  .footer-icons {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
  .footer-icon {
    text-align: center;
    color: #767676;
  }
  .footer-icon .icon {
    width: 24px;
    height: 24px;
  }
}
/*!***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./app/webapp/components/headerLike/headerLike.module.scss ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
/* headerLike.module.scss */
.headerLike_headerLike__8K4AK {
  background: transparent;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  z-index: 9;
  width: 100%;
}

.headerLike_backButton__T6Ctz {
  background: #fff;
  border: none;
  cursor: pointer;
  font-size: 24px;
  color: #202020;
  border-radius: 30px;
  padding: 5px;
}

.headerLike_likeButton__G6Rg1 {
  background: #fff;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 24px;
  color: #c50303;
  border-radius: 30px;
  padding: 5px;
}

.headerLike_likeCount__BCMNf {
  margin-left: 8px;
  font-size: 16px;
  font-weight: bold;
  color: darkslategrey;
}
/*!**********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./node_modules/react-multi-carousel/lib/styles.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************/
@font-face{font-family:"revicons";fallback:fallback;src:url(/_next/static/media/revicons.ff59b316.woff) format('woff'),url(/_next/static/media/revicons.b96bdb22.ttf) format('ttf'),url(/_next/static/media/revicons.652e7269.eot) format('ttf')}.react-multi-carousel-list{display:flex;align-items:center;overflow:hidden;position:relative}.react-multi-carousel-track{list-style:none;padding:0;margin:0;display:flex;flex-direction:row;position:relative;transform-style:preserve-3d;backface-visibility:hidden;will-change:transform,transition}.react-multiple-carousel__arrow{position:absolute;outline:0;transition:all .5s;border-radius:35px;z-index:1000;border:0;background:rgba(0,0,0,0.5);min-width:43px;min-height:43px;opacity:1;cursor:pointer}.react-multiple-carousel__arrow:hover{background:rgba(0,0,0,0.8)}.react-multiple-carousel__arrow::before{font-size:20px;color:#fff;display:block;font-family:revicons;text-align:center;z-index:2;position:relative}.react-multiple-carousel__arrow:disabled{cursor:default;background:rgba(0,0,0,0.5)}.react-multiple-carousel__arrow--left{left:calc(4% + 1px)}.react-multiple-carousel__arrow--left::before{content:"\e824"}.react-multiple-carousel__arrow--right{right:calc(4% + 1px)}.react-multiple-carousel__arrow--right::before{content:"\e825"}.react-multi-carousel-dot-list{position:absolute;bottom:0;display:flex;left:0;right:0;justify-content:center;margin:auto;padding:0;margin:0;list-style:none;text-align:center}.react-multi-carousel-dot button{display:inline-block;width:12px;height:12px;border-radius:50%;opacity:1;padding:5px 5px 5px 5px;box-shadow:none;transition:background .5s;border-width:2px;border-style:solid;border-color:grey;padding:0;margin:0;margin-right:6px;outline:0;cursor:pointer}.react-multi-carousel-dot button:hover:active{background:#080808}.react-multi-carousel-dot--active button{background:#080808}.react-multi-carousel-item{transform-style:preserve-3d;backface-visibility:hidden}@media all and (-ms-high-contrast:none),(-ms-high-contrast:active){.react-multi-carousel-item{flex-shrink:0 !important}.react-multi-carousel-track{overflow:visible !important}}[dir='rtl'].react-multi-carousel-list{direction:rtl}.rtl.react-multiple-carousel__arrow--right{right:auto;left:calc(4% + 1px)}.rtl.react-multiple-carousel__arrow--right::before{content:"\e824"}.rtl.react-multiple-carousel__arrow--left{left:auto;right:calc(4% + 1px)}.rtl.react-multiple-carousel__arrow--left::before{content:"\e825"}
/*!************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./app/webapp/reservas/reservas.module.scss ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@charset "UTF-8";
.reservas_bannerContainer__1JIlM {
  position: fixed;
  width: 100%;
  height: 300px;
  overflow: hidden;
}

.reservas_bannerImage__2cEYd {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1; /* Assegure que não há outros elementos com z-index maior */
}

.reservas_content__3M68Z {
  position: relative;
  z-index: 1;
  padding-top: 300px;
}

.reservas_flexButtonContainer__CsMbI {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}

.reservas_flexButtonContainerBar__Lu0LD {
  display: flex;
  gap: 50px;
  padding: 5px 10px;
}

.reservas_button__sYrEB {
  background: transparent;
  border: none;
  color: rgb(77, 77, 77);
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  font-size: 16px;
}

.reservas_icon__wb3S0 {
  font-size: 24px;
}

.reservas_barInfo__GgBHR {
  padding: 20px;
  text-align: center;
  background: #ffffff;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  z-index: 99;
  margin-top: -25px;
  position: relative;
}

.reservas_infoContainer__PGsQv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}

.reservas_leftColumn__Itjjy,
.reservas_middleColumn__TMveU,
.reservas_rightColumn__29NCH {
  flex: 1;
}

.reservas_barName__9Rk_2 {
  font-size: 30px;
  margin: 0;
  font-family: Nunito;
  font-weight: 700;
}

.reservas_barDetails__4Zzv3 {
  display: flex;
  align-items: center;
  gap: 10px;
  background: #fff;
}

.reservas_logoContainer__Q2WGJ {
  display: flex;
  justify-content: center;
}

.reservas_iconContainer__EM0rG {
  display: flex;
  justify-content: space-around;
}

.reservas_iconItem__SFKoC {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reservas_iconTitle__KiAPM {
  margin-top: 5px;
  font-size: 10px;
}

.reservas_valores__zt5AH {
  display: flex;
  gap: 2px;
  padding: 5px 10px;
}

.reservas_barValores__Cqwhf {
  font-size: 30px;
}

.reservas_userValores__KDVB7 {
  font-size: 12px;
  margin-top: 20px;
  padding-right: 10px;
}

.reservas_reserveButton__03EvM {
  background-color: #08738a;
  border: none;
  color: white;
  padding: 20px 40px;
  cursor: pointer;
  border-radius: 40px;
  font-size: 15px;
}

.reservas_barDescription__kxyO4 {
  padding: 2px;
  text-align: justify;
  background: #fff;
  width: 255px;
  color: #9d9d9d;
}

.reservas_sections__UtwDQ {
  padding: 20px;
  background: #fff;
}

.reservas_section__8wUqf {
  margin-bottom: 20px;
  font-size: 25px;
  font-weight: 600;
  font-family: Nunito;
  color: #2f415f;
}

.reservas_imageContainer__Un8Ef {
  cursor: pointer;
  padding: 5px;
}

.reservas_image__Pfcz5 {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.reservas_mapContainer__ZYDGq {
  padding: 1rem;
  background: #fff;
}

.reservas_modal__2X6PE {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 800px;
}

.reservas_overlay__1wEoN {
  background-color: rgba(0, 0, 0, 0.75);
}

.reservas_expandedImage__q0PA9 {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
/*!***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./app/webapp/components/reservationModal/reservationModal.module.scss ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.reservationModal_modal__AlcDw {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 800px;
  max-height: 90vh;
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.reservationModal_reservationTitle__iwdaC {
  font-size: 17px;
  font-weight: bold;
  text-align: center;
  color: #555;
}

.reservationModal_reservationDescription__wc9kY {
  font-size: 15px;
  color: #555;
  padding-top: 1rem;
  text-align: center;
}

.reservationModal_overlay__HpVhY {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.75);
  z-index: 1000;
}

.reservationModal_modalContent__YxQTp {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
}

.reservationModal_header___aOZ1 {
  display: flex;
  flex: 1;
  flex-direction: row;
}
@media (max-width: 600px) {
  .reservationModal_header___aOZ1 {
    flex-direction: column;
  }
}

.reservationModal_gin__Sz60c {
  margin: 0 auto;
}

.reservationModal_image__Med9J {
  width: 50%;
  height: auto;
  object-fit: cover;
  border-radius: 30px;
  padding: 1rem;
}
@media (max-width: 600px) {
  .reservationModal_image__Med9J {
    width: 100%;
  }
}

.reservationModal_rightColumn__Xlb3S {
  width: 50%;
  padding: 16px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (max-width: 600px) {
  .reservationModal_rightColumn__Xlb3S {
    width: 100%;
  }
}

.reservationModal_logo__4A8K1 {
  width: 120px;
  height: auto;
  margin-bottom: 8px;
}

.reservationModal_address___5fJZ {
  font-size: 12px;
  color: #555;
  margin-bottom: 12px;
  text-align: center;
}

.reservationModal_iconContainer__4MnW4 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
}

.reservationModal_iconItem__Rzg2c {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reservationModal_iconTitle__DgOEv {
  margin-top: 4px;
  font-size: 10px;
  text-align: center;
}

.reservationModal_body__BVagA {
  flex: 2;
  padding: 1rem;
}

.reservationModal_guests__IDNBH {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.reservationModal_counterButton__rfamH {
  width: 30px;
  height: 30px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reservationModal_select__2ACQr,
.reservationModal_dateInput__l8qbT {
  width: 100%;
  padding: 8px;
  margin-top: 8px;
}

.reservationModal_reserveButton__Kw9av {
  width: calc(100% - 32px);
  margin: 16px;
  padding: 10px;
  background-color: #0066cc;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.reservationModal_reserveButton__Kw9av:hover {
  background-color: #005bb5;
}

.reservationModal_footer__E4Cm_ {
  text-align: center;
  margin-top: -16px;
}

.reservationModal_disclaimer__tctO6 {
  font-size: 10px;
  color: #777;
  padding: 0 16px 16px;
}

.reservationModal_sectionHeader__lWobj {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e0e0e0;
}

.reservationModal_sectionIcon__zjIZh {
  font-size: 24px;
}

.reservationModal_sectionTitle__QkWNG {
  flex-grow: 1;
  text-align: left;
  font-size: 18px;
  margin: 0;
  color: #909090;
}

.reservationModal_counter__XHDau {
  display: flex;
  align-items: center;
}

.reservationModal_counterButton__rfamH {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 5px 10px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 20px;
}

.reservationModal_counterValue__tVMEG {
  margin: 0 10px;
  font-size: 18px;
}

.reservationModal_select__2ACQr {
  width: 80%;
  margin: 0px 0px 0px 50px;
}

.reservationModal_priceContainer__D6BNC {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.reservationModal_priceInfo__qY8ly {
  margin-left: 90px;
  color: #757575;
  font-size: 10px;
}

.reservationModal_dateInput__l8qbT {
  width: 45%;
  padding: 10px;
  margin-top: 10px;
  font-size: 16px;
}

.reservationModal_reserveButton__Kw9av {
  background-color: #008cba;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 18px;
  width: 60%;
  border-radius: 30px;
}

.reservationModal_disclaimer__tctO6 {
  margin-top: -10px;
  color: #757575;
  font-size: 10px;
}
